.re{
    fill:rgb(10,10,200);
    stroke-width:2;
    stroke:rgb(10,10,0);
    fill-opacity: 0.25;
}
.e1{
    fill:turquoise;
    stroke: black;
}
.l1{
    stroke: black;
    stroke-width: 2px;
}
.svg1{
    border: 2px solid black;
}
.pol{
    fill:lime;
    stroke:purple;
    stroke-width:2px;
}
.l1{
    fill:rgb(255, 255, 255);
    stroke:red;
    stroke: width 2px;;
}