
body {
  
    background-color: #d3c5c5;

  
   }
.top-nav{
    width: 100%;
    height: 100px;
    background-color: gray;
    margin: 0%;
}
.logo{
    width: 250px;
    height: 90px;
    margin: 5px;
   
    float: left;
}
.banner h1{
    width: 300px;
    height: 90px;
    margin: 5px;
    font-family:'Times New Roman';
    color: cornsilk;
   
    float: left;
}
.nav-wrap{
    width: 350px;
    height: 90px;
    margin: 5px;
    
    float: right;
}
ul{list-style-type: none;}

.nav-but{
    padding: 5px;
    float: left;
    margin-left: 5px;
    background-color: rgb(180, 177, 177);
    border-bottom: 2px solid black;
}
.nav-but a{ 
    display: block;
    text-decoration: none; 
    color: black;
    }
    header a{ 
        display: block;
        text-decoration: none; 
        color: black;
        }
a:hover
{
 background-color: #d3c5c5;
}
.toto{
    background-color: yellow;
    padding: 10px;
    margin: 5px;
}
.in1{
    padding: 10px;
}