.static{
    position: static;
    left: 30px;
    border: 3px solid #000000;
}
img{
    display: block;
 max-width: 100%;
 height: auto;
}
.ima{
position: relative;
left: 10px;
border: 3px solid #000000;
height: 200px;
}
.fixed{
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.abso{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 2px solid #000000;
  
}
.stick{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
      
}
.fb{
    border: 3px solid #000000;
    display: flex;
}
.main{
    flex: 1;
    order: 2;
}
.lside{
    flex: 1;
    order: 1;
}
.rside{
    flex: 1;
    order: 3;
}
.cont{
    display: grid;
    grid-template-columns: 30px 30px 30px;
 
    padding: 10px;
}
.item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
}