header{
    display: flex;
   
    padding: 0%;
}
.navbar{
    background-color: #2775EF;
}
.login{
  
    margin-bottom: 35px;
}

.hinput{
    margin-top: 10px;
    outline: 0;
    width: 100%;
    transition: all var(--dur) var(--bez);
    transition-property: auto, 1;
}
.hleft{
    flex: 1;
    margin-top: 10px;
}
.hcenter{
    flex: 1;
    margin-top: 10px;
}
.hright{
    flex: 1;
    margin-top: 10px;
    width: 100%;
}
.text-white{
    padding: 5px;
    float: left;
    margin-left: 5px;
    
    text-decoration: none;
}
.text-primary{
    padding: 5px;
    float: left;
    margin-left: 5px;
    
    text-decoration: none;

}
.cat img{
    max-height: 90px; 
}
img{
    max-height: 135px;
}

.col h5{
    font-size: 14px;
}

.col{
 text-align: center;

}

.cat .row{
    max-height: 75px;
}
.cat{
    width: 100%;
    margin: 0%;
    padding: 0%;
   
}

.ctext{
    font-size: 12px;
}
.rowp{
    color: green;
    opacity: 0.7;
    text-decoration: none;
    font-size: 11px;
    
}
.ltext{
    color: gray;
    font-size: 12px;
    text-decoration: none;
}
.col_gry{
    color: gray;
}
.im{
    width: 100px;
    height: 60px;
}